[2014-12-03 06:18] mrhanlon opened #1 "Multiple terms activated in different contexts"
Hello! I have a use case for having multiple terms for a site, but active within different contexts, such as depending on a user's role. So, I would want one set of terms active for the site for all users, but if a user is requesting access to particular functionality or other roles on the site, they may have to accept additional terms and conditions.

I've dealt with this for now by creating a se

[2015-10-28 12:06] adibo opened #4 "Changes proposal"
Hi there!

I found your module quite interesting and relevant for our needs. However, for our use case, I would propose a couple of updates/changes:
1. extending the model to include also additional info field, which would contain the message about the change (e.g. could be used as a summary of what is being changed and why). The point here to help users to digest the new terms.
2. adding a templa

[2015-10-28 13:04] cyface commented on #4
Those changes sound good to me! Go for it!

Tim

[2015-11-04 13:01] adibo commented on #4
Okey. The pull request is on its way. Please review and (hopefully) accept.
Would be great if you could also release 0.1.6 version on pip upon accepting my PL.

Adrian

[2015-11-05 15:23] cyface commented on #4
Changes merged!

[2015-11-05 15:23] #4 closed

[2015-11-05 15:25] cyface commented on #1
Hey there - if you want to add this to the project, feel free to do a Pull Request! :)

[2016-03-17 13:33] bcail opened #8 "django 1.8 support?"
Thanks for this package - we've been using a fork of it.

I just installed django-termsandconditions from PyPI, and it upgraded my django 1.8 to 1.9. Looks like that's required in setup.py. Is it intentional to not support 1.8 LTS?

[2016-03-17 14:05] tlwhit2 commented on #8
Yes, unfortunately the amount of changes that I had to do to support 1.9 were extensive, and so I wasn't able to easily support both...that said, the vast majority of the changes in the latest releases have been for Django 1.9 support, so you are probably fine pinning to an older release...

[2016-03-17 14:20] bcail commented on #8
OK, thanks. I installed 0.1.7, and that seemed to do the trick.

If someone were to submit PRs to support 1.8 as well as 1.9, would you be open to those?

[2016-03-17 14:26] tlwhit2 commented on #8
Definitely!

[2016-03-17 14:28] bcail opened #9 "Disable IP address tracking?"
We don't want to store our users' IP addresses... would you be open to adding a setting to disable that feature?

[2016-03-17 14:31] cyface commented on #9
Definitely!

[2016-03-17 14:40] bcail commented on #8
Great. I just ran the tests with django 1.9, and then with django 1.8, and both times they all passed. Here are the commands I used (in a new python 2.7 virtual env):
pip install -r termsandconditions_demo/requirements_dev.txt
coverage run --source=termsandconditions,termsandconditions_demo --rcfile=devscripts/checkers/coveragerc manage.py test

Do you know where the issues were with django 1.8?

[2016-03-17 14:54] tlwhit2 commented on #8
Well, 1.9 removes the 'patterns' stuff from urls.py...I am surprised that works in 1.8.  Maybe the fact that I cleaned them all up to be ur() objects is enough to get that working. I think the TEMPLATES unified settings probably will work back in 1.8...but I wasn't sure.

I'd be sure to test with app integration with 1.8 though, I don't have a 1.8 app to test with.  You would want to make sure the

[2016-03-17 15:09] bcail commented on #8
Sure, I have a 1.8 project (actually, I don't have any 1.9 projects yet), and I can confirm that urlpatterns is a list of url objects in 1.8. The unified TEMPLATES setting also works in 1.8.

I'll try to run the demo app a bit, and make sure it looks OK on 1.8.

I'm working on a PR to add 1.8 testing to .travis.yml.

[2016-03-17 15:18] bcail commented on #8
OK, I ran the demo app. After adding a user manually, I was able to login and visit the secure pages. I went to the termsrequired/ page, and it made me accept terms before seeing the page. Printing the terms also looked good.

The only issue was the mention of a profile page - I didn't see a button to edit my profile, and at one point I got a redirect to accounts/profile/ and that didn't work. Is

[2016-03-17 15:25] bcail commented on #8
I opened the PR for adding django 1.8 tests, and I'll check to see if they pass/run correctly.

[2016-03-17 15:38] cyface commented on #8
They look good, I'll update the settings.py!

[2016-03-17 15:47] cyface commented on #8
PyPi is up to date with the new version 1.1.3!

[2016-03-17 15:47] #8 closed

[2016-03-17 15:47] #9 closed

[2016-07-25 09:06] aktywnitu opened #16 "Multi terms: TOS and Privacy policy"
It is possible by slug, but decorator check only DEFAULT_TERMS_SLUG:

[code]
[code]

[2016-07-25 14:04] cyface commented on #16
Hi there -

 That method declaration is setting slug to the default value only if no value is passed in for the slug.

 Here's a place in the tests where non-default values are being passed in: https://github.com/cyface/django-termsandconditions/blob/master/termsandconditions/tests.py#L87

[2016-07-25 14:04] #16 closed

[2016-08-11 18:38] #1 closed

[2016-08-18 15:04] welserjr opened #19 "Signal after accept terms"
Hi, how I capture the signal after accept terms to send email?

[2016-08-19 03:16] cyface commented on #19
Hi there -

 There's no signal right now when terms are accepted; however you could use a post_save signal set on the UserTermsAndConditions model to listen for new things saved there and then send an email.

[2016-08-19 03:16] #19 closed

[2016-10-20 11:03] santtu opened #20 "Accessing database during module loading"
There's a problematic statement at https://github.com/cyface/django-termsandconditions/blob/master/termsandconditions/forms.py#L13:

[code]

where the `TermsAndConditions.get_active_list` returns a list of current terms in the database. I've run into a problem where this fails during unit tests when there is no database available and not used at all (using py.test for a set of tests that do not us

[2016-10-20 11:26] santtu commented on #20
I created a pull request for this: https://github.com/cyface/django-termsandconditions/pull/21

[2016-10-25 22:16] #20 closed

[2017-03-27 17:54] willywutang opened #22 "supporting newlines and other formatting in terms and conditions"
Do you plan to support newlines and other formatting in the terms and conditions?

[2017-03-27 18:59] cyface commented on #22
Hello! No current plans to add it, but if someone builds it, I will merge it!

[2017-03-27 18:59] #22 closed

[2017-06-08 13:23] ciarancourtney opened #23 "Django 1.10+ support"
Are there any plans to support Django 1.10 and up?

A quick test against 1.11 gave the following stacktrace:

      File "/opt/master/venv/lib/python3.6/site-packages/django/core/handlers/base.py", line 82, in load_middleware
        mw_instance = middleware(handler)
    TypeError: object() takes no parameters

[2017-06-08 13:44] cyface commented on #23
Hi there - I have had Travis set up to test against 1.10 for a while now, and it seems to be working well. I'll take a look at 1.11 over the next week or so.  Cheers!

[2017-06-08 15:44] cyface commented on #23
Looks like was working fine with Django 1.11 if you are using MIDDLEWARE_CLASSES in your settings, but not if you were using MIDDLEWARE.  I updated the middleware in the just-posted version 1.1.12 so that it should work with both now.  Let me know if it doesn't work as expected.  Thanks for the report!

[2017-06-08 15:44] #23 closed

[2017-06-27 07:27] ciarancourtney opened #24 "Django (1.11 at least) creates migrations for termsandconditions"
The main difference I can see is the stripping of the bytestrings?

[code]

On a separate note, would you be open to a PR which excludes Users from accepting terms if they have a certain permission?

[2017-06-27 08:13] ciarancourtney commented on #24
I think the main issue is not having unicode_literals in models.py, see https://docs.djangoproject.com/en/1.11/topics/migrations/#supporting-python-2-and-3

I think you may have to generate a new migration using Python 3 in order to make app 2/3 compatible.

Working around this ATM by stripping the b's out of migration files after installation, as per last comment here https://code.djangoproject.c

[2017-06-27 16:56] cyface commented on #24
Thanks for the info, I'll take a look!

[2017-06-27 17:57] ciarancourtney commented on #24
Thanks @cyface, also how about a setting to disable default term creation, is there any hard and fast reason this is in place ATM? It makes testing non-deterministic as a new object is created when the terms_required decorator is entered. Any workaround to disable this in short term?

[2017-06-27 18:40] cyface commented on #24
I removed the auto terms creation and added the Python3 migration...new version is up on PyPi...

[2017-06-27 18:40] #24 closed

[2017-06-27 20:28] ciarancourtney commented on #24
Brilliant, thanks @cyface

[2017-06-28 07:32] ciarancourtney commented on #24
Hi @cyface I think the 1.1.13 release may have introduced a bug, if no terms are found a Http404 is raised, which it not caught by any of the calling functions. Why not just return None or an empty queryset?

[2017-06-28 13:25] cyface commented on #24
@ciarancourtney I debated doing it both ways for 1.1.13 - I updated the code to return None instead in 1.1.14.

[2017-08-25 07:10] niol opened #25 "Please tag your releases in github"
pip has 1.1.14 which is not tagged in github. This makes it hard to follow what is part of the release. Or is development happenning elsewhere?

Thanks a lot.

[2017-08-25 16:23] cyface commented on #25
Done, thanks!

[2017-08-25 16:23] #25 closed

[2017-08-31 20:01] raratiru opened #26 "OperationalError when trying to see the users that accepted the terms in admin"
Hitting the `change` link in the `User Terms and Conditions` of Django admin, I receive the following error:

I have a custom user model where users authenticate using their email instead of a username along the lines of [django docs](https://docs.djangoproject.com/en/1.11/topics/auth/customizing/#a-full-example), if I remember well.

I can post the whole structure if needed.

[code]

[2017-08-31 20:27] raratiru opened #27 "How can I protect terms from being publicly accessible?"
If a not logged in user, accesses `<site-url>/terms` the terms will be shown.

Is it possible to allow the showing of the terms only to logged-in users?

Otherwise, is it possible to change the `terms` slug to something like `<site-url>/blah/blah/terms`?

[2017-08-31 21:46] raratiru commented on #27
After setting:
`ACCEPT_TERMS_PATH = 'inhouse/terms/accept/'`
I receive the following error:

`The page isn’t redirecting properly`

Where the logs contain the following:

[code]

[2017-09-01 19:14] raratiru commented on #27
I think I found the answer in this [application](https://github.com/twidi/django-decorator-include).

[2017-09-01 19:14] #27 closed

[2017-09-05 17:23] cyface commented on #25
Thanks, I updated the tag name!

[2017-09-07 12:09] niol commented on #25
Thanks a lot, the tag without v is still there FYI.

[2017-09-07 14:36] cyface commented on #25
Fixed, thanks!

[2017-09-07 14:57] cyface commented on #26
Hello! I looked this over, and I am not doing anything fancy in the admin for this, and haven't been able to replicate with a typical structure.  From what I could find on this error, it's related to queries that do a lot of prefetching, which this project does not.

Also, if you don't have a username fille out, this project won't work...

[2017-09-07 15:13] raratiru commented on #26
I do not have a `username` field at all, although I have the following entry:

`USERNAME_FIELD = 'email'`

The project works, except that I cannot see the users who accepted the terms in the admin. I can do this, however from the shell manually.

I will go through my code when I get close to my pc and report back.

[2017-09-07 20:00] raratiru commented on #26
The following admin setup is the minimum to make it work:

[code]

Either `terms` or `user` will cause an error if they are present in the `list_display`, and of course `list_select_related` is not an option.

I could paste all my user model files, but it is better to live without the list display. There are two recursions included in the custom user model that may cause this havoc.

If, later on,

[2017-09-07 20:00] #26 closed

[2017-09-07 21:34] raratiru opened #28 "Basic Custom Template for Terms and Conditions"
MIssing from the documentation is a minimum custom template which caters for the terms and coditions.

It can be activated in the settings.py:

`TERMS_BASE_TEMPLATE = 'admin/terms.html'`

admin/terms.html
[code]
The only issue is that the `block title` is wrapped between `h2` tags since the `block content` includes an `h1` tag already.

[2017-09-10 19:38] #28 closed

[2017-10-15 12:29] raratiru opened #30 "MIddleware causes 7 extra queries"
I read the warning. However, I use django-debug-toolbar and I see that middleware use causes 7 extra queries, while 5 of them are duplicated 5 times. Is this OK?

The same number of queries appears when I use `{% show_terms_if_not_agreed %}` in the `base.html` template.

[2017-10-16 15:14] cyface commented on #30
Generally, since they are pulling the same thing over and over, the results will be cached by Django's DB layer, so it won't be going back to the DB every time.  I'm quite sure it could be optimized further, especially to make use of Django's cache layer to hold the result.  If you have suggestions on doing so, let me know!  Thank you!

[2017-10-16 15:17] raratiru commented on #30
OK, using the django cache layer is a good idea. Thank you for mentioning it!

[2017-10-16 15:17] #30 closed

[2017-11-07 15:12] niol opened #32 "NoneType is not iterable"
Hi,

While upgrading to the newer termsandconditions with an app I'm using (seahub), I encountered a failure. The following patches fixes things for me.

[code]

[2017-11-07 15:52] cyface commented on #32
Thanks for the patch, I released 1.2.6 with that change. Cheers!

[2017-11-07 15:52] #32 closed

[2017-12-20 11:43] ciarancourtney opened #34 "Add EXCLUDE_USERS_WITH_PERM setting"
Up until now I've wrapped terms_required to add this check.

@cyface I can submit PR if you'd approve this feature? Or can it already be accomplished?

[2017-12-20 14:03] cyface commented on #34
Hi Ciaran -

 Is the idea to not show T&C’s if a user has a particular permission?

Thanks!

Tim

[2017-12-20 14:19] ciarancourtney commented on #34
Yes exactly

[2017-12-20 14:41] cyface commented on #34
I'm not aware of a way this can be done right now with terms_required, so
if you want to submit a PR including tests for it, please do!

On Wed, Dec 20, 2017 at 7:19 AM, Ciaran Courtney <notifications@github.com>
wrote:

[2017-12-21 16:11] #34 closed

[2018-03-19 12:36] LittleLampLight opened #36 "Wysiwyg editor"
Hi! Great module so far. But it seems like some prettiness is missing. Can you include wysiwyg editor for T&C? Or i can create pull request i guess

[2018-03-19 12:51] cyface commented on #36
Hi there - I've intentionally not included a WYSIWYG editor for T&C, since many people have their own preference as to which one to use and how they want to integrate it into their project, and that weight of whatever I included would be in addition to whatever they added.  Thanks!

[2018-03-19 13:58] LittleLampLight commented on #36
Okay. Git it. Also i've seen, that there is no translate tags in templates for text like "Please Accept", "Print", "Accept" and etc. ? Can i add them?

[2018-03-19 14:04] cyface commented on #36
Sure! Go for it! :)

On Mon, Mar 19, 2018 at 7:58 AM, LampLight <notifications@github.com> wrote:

[2018-03-19 15:10] #36 closed

[2018-03-19 20:10] LittleLampLight opened #39 "TERMS_EXCLUDE_URL_LIST with i18n_patterns for url"
Seems like applications is not working correct with language code in [urls](https://docs.djangoproject.com/en/2.0/topics/i18n/translation/#django.conf.urls.i18n.i18n_patterns).

For example settings config to:

`TERMS_EXCLUDE_URL_LIST = ('/', '/terms/required/', '/logout', '/securetoo/')`

doesn't trigger for actual logout url - `/{language_code}/logout/`

[2018-03-19 21:32] cyface commented on #39
Yeah, that setting is literal; so you'd have to put in the language-specific URLs too.  It doesn't use reverse, it just matches exactly.  I'll look at what it would take to enhance to to reverse, and what affect that has on performance.

[2018-03-29 16:19] cyface commented on #39
Reversing the urls is too slow; I added a TERMS_EXCLUDE_URL_CONTAINS_LIST to the master branch if you want to try and see if putting /logout/ in there instead of in TERMS_EXCLUDE_URL_LIST makes it work for you.  Cheers!

[2018-04-02 07:50] #39 closed

[2018-06-06 11:49] adibo opened #40 "Enable handling ToS text fields as template"
Hi,
I came across a use case, where a ToS text has to include other variables and e.g. urls defined by `{% url 'my-url-name' %}`. In general, the ToS text (or other field) could contain template-like syntax.

This could be done by including a `terms.text` in a form of a Template object and using the `include` tag. Thus, one would need to customize the respective template file and use there `{% inc

[2018-06-06 21:02] cyface commented on #40
Hi!
 As long as, by default, it works as simple text, I think that is fine. Cheers!

Tim

[2018-06-07 01:30] adibo commented on #40
Sure! Simple text is the default.
PR on its way!

[2018-06-07 15:08] #40 closed

[2018-08-01 15:16] andrewpwade opened #58 "Django 2.1: AttributeError: module 'django.db.models' has no attribute 'permalink'"
[code]

Django 2.1 has [removed](https://docs.djangoproject.com/en/2.1/releases/2.1/#features-removed-in-2-1) the permalink() decorator.

I think a fix would be something like:

[code]
Thanks for this app!

[2018-08-02 20:40] cyface commented on #58
Thanks for the report! Branch in progress to address this. 👍

[2018-08-03 17:27] cyface commented on #58
Fixed in v1.2.12! Thanks again!

[2018-08-03 17:27] #58 closed

[2019-03-01 02:12] solrates opened #84 "App Name"
Thanks for the great package!  I recently upgraded to Django 2.0.13.  Would it be possible to add:

app_name = 'terms_and_conditions'

to line 13 of the urls.py file to enable namespaces for Django-termsandconditions?

Thanks!

[2019-03-13 09:58] mcrot opened #88 "License of this package"
Thanks for this package! I'm interested in using it for a web application for scientists in a particular field and I'm wondering what kind of license you want to choose for your package. Is it already decided?

[2019-03-13 10:07] mcrot opened #89 "Optional terms and conditions together with a mandatory one"
We would like to have two kinds of permissions. The first should be mandatory for using the site.
I've seen that this should be easily done with this package by using a middleware.
We would like to have a second kind if terms of conditions, where we ask our user for their permission to use their measurement data for scientific analyses. Agreeing to this second T&C should be optional, so the users

[2019-03-13 12:19] cyface commented on #89
Hello! The way it works out of the box is that all active terms are required, and that inactive terms are not shown, typically because they get supplanted with new versions.

You could certainly extend the model to add a field for “optional” terms. But the core purpose of this module is for “required” terms.

Cheers!

[2019-03-13 12:19] #89 closed

[2019-03-13 12:32] cyface commented on #88
MIT License file added, cheers!

[2019-03-13 12:32] #88 closed

[2019-03-13 12:35] cyface commented on #84
Closed, see PR #85 .

[2019-03-13 12:35] #84 closed

[2019-03-13 13:05] mcrot commented on #88
Thanks! I've just seen, that the file `setup.py` has the entry
[code]
So in PyPI it still appears as BSD. Sorry, I haven't seen this when I opened this issue.

[2019-03-20 16:15] mcrot commented on #89
Hi @cyface , thanks for your work. In order to have optional terms, I've forked your
project and added optional terms. I've tried to keep the code as close as possible to your code.
The branch can be found [here](https://github.com/mcrot/django-termsandconditions/tree/optional_terms).

You've already said, that the core purpose of your package is for required terms and conditions.
If you are never

[2019-03-20 16:20] mcrot commented on #89
One more comment, this is how I did it:

The entries in the model "UserTermsAndConditions" have now a
different meaning. If a row exists, this means "the terms have been
presented to the user and he/she decided to accept or not to accept"
or in short "terms have been seen by the user".

If the field "date_accepted" is not NULL, the terms have been
accepted. If it is NULL, the user decided not to a

[2019-03-20 20:36] wbustamante opened #91 "Not saving Remote IP Addres"
https://github.com/cyface/django-termsandconditions/blob/9b843faf98909e4eb403981068545c0840b30fed/termsandconditions/views.py#L117

Can you change this line

ip_address = request.META.get(‘HTTP_X_FORWARDED_FOR’, ”) or request.META.get(‘REMOTE_ADDR’)

because when you are using nginx, REMOTE_ADDR is not present

[2019-07-03 21:22] cyface commented on #91
Should be settable as of release 1.2.14.

[2019-07-03 21:22] #91 closed

[2019-08-11 19:47] kutenai opened #104 "Template tag error thrown on missing 'not_agreed_terms'"
I've been trying to get a clean lot output, but I see this in my debug logs
[code]

It drove me crazy for a while, but I finally tracked it down to this the inclusion tag "show_terms_if_not_agreed"

The tag has this logic
[code]
The problem is that it returns without the value set for 'not_agreed_terms', and so that means that the snippet, which includes this:
[code]
Will raise a template Exceptio

[2019-08-11 20:49] cyface commented on #104
Sounds good, thanks for the PR!

[2019-08-11 20:49] #104 closed

[2019-11-06 20:51] cityinohio2019 opened #110 "Update to 2.2?"
Are you planning to update to Django 2.2? Our development team really likes django-termsandconditions and want to be able to use it.

[2019-11-07 14:55] cyface commented on #110
Hello! I just created a python 3 / Django 2+ branch. I need to do some more testing before I merge it, but if you want to try it out, I would appreciate any feedback.  Thank you!

[2019-11-08 14:33] cityinohio2019 commented on #110
Great, I'll check it out, thanks!

On Thu, Nov 7, 2019 at 9:55 AM Tim White <notifications@github.com> wrote:

--
Dayton Williams
Associate Developer, GovReady PBC
p: 401-280-0864
e: dayton.williams@govready.com

[2019-12-23 16:09] cyface commented on #110
@cityinohio2019 Version 2.0.0 is out and supports python3/Django 2.2+!

[2019-12-23 16:09] #110 closed

[2020-02-10 15:29] bcail opened #121 "python 3.5/3.6?"
First, thanks for this package.

Python 3.5/3.6 are still supported (in security mode): https://devguide.python.org/#status-of-python-branches. Django 2.2 also supports Python 3.5 and 3.6: https://docs.djangoproject.com/en/2.2/releases/2.2/#python-compatibility. Would you be open to a PR that re-adds support for them to this package (or at least for Python 3.6)?

[2020-02-10 16:09] cyface commented on #121
@bcail Yes!

[2020-02-10 16:57] cyface commented on #121
Thanks for the PR! Release is on the way out!

[2020-02-10 16:57] #121 closed

[2020-02-10 17:39] bcail commented on #121
@cyface Thanks. I don't see the new release on pypi yet - is that still in process?

[2020-02-10 18:06] cyface commented on #121
@bcail Up now! https://pypi.org/project/django-termsandconditions/

[2020-02-10 18:11] bcail commented on #121
thanks.

[2020-02-16 04:29] 9mido opened #126 "NoReverseMatch at /terms/"
NoReverseMatch at /terms/

Reverse for 'tc_print_page' with arguments '('', '')' not found. 1 pattern(s) tried: ['terms/print/(?P<slug>[a-zA-Z0-9_.-]+)/(?P<version>[0-9.]+)/$']

"GET /terms/ HTTP/1.1" 500 178082

Requested Terms and Conditions that Have Not Been Created.
Internal Server Error: /terms/

After navigating to 127.0.0.1:8000/terms/ I received the error above.

All of these other URLs w

[2020-02-16 13:35] cyface commented on #126
Thank you for the report! I will take a look.

[2020-02-16 13:41] cyface commented on #126
@9mido I'll keep looking, but basically, this is the error that you get if no terms exist. If you create the default site-terms 1.0 in the admin and make it active, this error should go away.

[2020-02-16 15:13] 9mido commented on #126
@cyface Thanks for the quick response. I did not use the default name 'site-terms' at first and used a different custom slug name which caused the error. But when I just used your suggestion of the default 'site-terms' the error did indeed go away. I guess there is no way for anybody to use a custom slug for the terms? Thank you very much for your efforts. I am glad that I was able to help you fin

[2020-02-17 13:34] cyface commented on #126
@9mido Thanks! I've added a new release that better handles both no terms defined, as well as allowing alternative slugs for the base terms. I hope this helps! Cheers!

[2020-02-17 13:34] #126 closed

[2020-02-19 13:56] 9mido opened #129 "TERMS_EXCLUDE_URL_LIST Regular Expressions For Custom Slug Name"
Now that the user could use any custom slug name, there needs to be a way to define that new custom slug name in settings so that every time a user changes the slug in admin, settings will be updated automatically.

For example, instead of:
TERMS_EXCLUDE_URL_LIST = {'/terms/accept/site-policy/'}

Do something like (using regular expressions):
TERMS_EXCLUDE_URL_LIST = {'\/terms\/accept\/.*\/'}

Not

[2020-02-19 14:37] cyface commented on #129
@9mido Yes, there is only the ability to exclude URLs from being prompted for terms at all or not - there's currently no way to have a different set of excludes per term.

[2020-03-20 03:48] 9mido opened #133 "Version 2.0.3 Unable To View Content At /terms/ After Accepting"
In 2.0.3 when I login and then accept the terms, I am unable to view any HTML content for the terms that this github project normally produces from the database entries. It just shows a blank page at /terms/ after accepting. When rolling back to 2.0.2, it works again and I am able to view the HTML content at /terms/ again after accepting.

If needed, perhaps rolling back this project back to 2.0.2

[2020-03-21 01:32] cyface commented on #133
@9mido New release is out. I believe the issue was because of caching and AnonymousUsers.  Let me know if the 2.0.4 helps you out. Cheers.

[2020-03-21 01:32] #133 closed

[2020-03-21 01:33] #129 closed

[2020-03-22 17:40] 9mido commented on #133
@cyface I just tried 2.0.4 and I am still having this same problem as issue #133. My /terms/ page is blank after accepting. Using /terms/print/site-terms/1.0/ as the link on my website <a> tag is complicated because the version and the slug name could change over time. Being able to use /terms/ works better for me because anybody could view the terms and conditions after accepting no matter what y

[2020-03-22 17:44] cyface commented on #133
*after* accepting? That page hides all already-accepted terms, so it should
say “no terms”.

If you want a page that just lists all terms regardless of whether they
have been accepted or not, you can use the
TermsAndConditions.get_active_terms()method in a custom TemplateView’s
get_context() method and list them out.

On Sun, Mar 22, 2020 at 11:40 AM 9mido <notifications@github.com> wrote:

[2020-03-22 17:52] 9mido commented on #133
@cyface Here hopefully this makes it easier to see what is happening:

https://streamable.com/wz30z

Ok that is good to know I may try that.

[2020-03-22 19:10] 9mido commented on #133
@cyface I just tried your latest commits.

https://streamable.com/xcclm

So /terms/ works without accepting but after accepting it does. Should the URL on my site only be /terms/active/ at all times?

[2020-03-22 19:16] cyface commented on #133
Right, I added that URL for your use case. The /terms/ url only shows
unaccepted, /terms/active/ shows all active regardless of acceptance.

On Sun, Mar 22, 2020 at 1:10 PM 9mido <notifications@github.com> wrote:

[2020-03-22 19:23] 9mido commented on #133
@cyface okay gotcha.

I just discovered a new problem though. When I change the version of the old terms and conditions to a newer one, the user is not able to accept the new terms. It automatically says in admin that they accepted the new terms without their consent?

https://streamable.com/6pe0g

[2020-03-22 20:18] cyface commented on #133
You can’t change the version of existing terms. You need to make a new
terms object with a new version number. That way the old terms live on
forever.

On Sun, Mar 22, 2020 at 1:23 PM 9mido <notifications@github.com> wrote:

[2020-03-22 21:02] 9mido commented on #133
@cyface okay thanks for letting me know.

Yes you are correct. However, when I make a new terms with a different slug name, it will show both terms and conditions on the /terms/active/ page. Shouldn't it only show one based on the most recent date maybe?

https://streamable.com/ofsx8

Also just for a reference here is what I was talking about with 2.0.2 where /terms/ worked no matter what. I am no

[2020-03-22 21:18] cyface commented on #133
If you have terms with a slug of my-terms, you clone it each time you
update it, and keep the same slug, but with a new version number. It
auto-selects the latest terms for any given slug based on the date and
version number.

On Sun, Mar 22, 2020 at 3:02 PM 9mido <notifications@github.com> wrote:

[2020-03-22 21:27] 9mido commented on #133
@cyface right that I understand. I just want to help make it more bulletproof for employees who might not know that information and just change things randomly. 2.0.2 just worked for those use cases so well. Sorry for making you do this extra work but maybe I should not have opened my mouth the first time :/

https://streamable.com/3vuml

[2020-03-22 21:41] cyface commented on #133
Historically,  /terms/ was only supposed to list terms that hadn’t yet been
accepted, so everyone who was using it that way had it break in Django 2,
as it started showing all terms. So I fixed that bug, so now it’s back to
the way it has always worked previously, where /terms/ only shows terms not
yet accepted.

So I added a new view for you so list all terms regardless of whether they
had been a

[2020-03-22 21:46] 9mido commented on #133
@cyface ah ok I am rather new when it comes to using this package so I did not know about that. Ok thanks for the clarification. So showing more than one slug like in this video https://streamable.com/ofsx8 in the new version you just updated is normal to show people all the terms that historically changed?

[2020-03-23 02:54] 9mido opened #134 "Template tags to determine if user accepted terms or not"
@cyface

Is there a template tag to determine if the user accepted or declined the terms and conditions? I want to do something like:

[code]
I am not sure what the condition of the if statement template tag would be to determine if the user accepted/declined the terms or not. Or if there is a template tag to determine active or not?

Also, what order / hierarchy would you recommend for an if stat

[2020-03-23 03:29] 9mido commented on #134
[code]

[2020-03-23 04:31] 9mido commented on #134
@cyface

Sorry I want to reopen this issue (not sure how. I thought I had it figured out but the logic I have above only works for

[2020-03-24 13:13] Amoki opened #135 "Invalid input syntax for type inet: "85.136.1.206, 125.228.71.64""
(IPs have been modified)

For an unknown reason, there are sometimes 2 IP addresses and the insert in database crashes because of that.
I'm using `TERMS_IP_HEADER_NAME = "HTTP_X_FORWARDED_FOR"`

Maybe we can just split on ", " and only save the first IP address.

Complete stack trace:
[code]

[2020-03-24 20:35] cyface commented on #135
v2.0.5 should address this for you!

[2020-03-24 20:35] #135 closed

[2020-03-24 20:54] cyface commented on #134
Is this just for a link in the footer to let people view the current site terms?

[2020-03-25 01:24] 9mido commented on #134
@cyface yes.

[2020-03-25 02:19] cyface commented on #134
I guess I am not getting what you are trying to do.  Typically, folks are just pointing to "Site Terms" -> /terms/site-terms/ to always show the latest site terms, and /terms/privacy-policy/ to always link to the latest privacy policy, etc.  I set up /terms/active/ to list and show all active terms.  I'm not clear why you need to check to see if they have accepted terms just to link in the footer

[2020-03-25 12:37] Amoki commented on #135
Thanks a lot!

[2020-03-25 14:36] 9mido commented on #134
@cyface ah okay that makes sense, I did not know about that. In the past couple of days, I was more confused than anything regarding how things worked. Thank you for clearing things up for me and making such quick improvements to this project.

[2020-03-31 01:54] #134 closed

[2020-03-31 02:02] 9mido opened #136 "Add rel="noopener noreferrer" to target="_blank""
Noticed that on some of the templates with target="_blank" it is vulnerable to reverse tabnapping since it is missing rel="noopener noreferrer".

https://stackoverflow.com/questions/50709625/link-with-target-blank-and-rel-noopener-noreferrer-still-vulnerable/50709760

https://developers.google.com/web/tools/lighthouse/audits/noopener

However, this may not be a concern if users choose to override

[2020-03-31 13:58] cyface commented on #136
Added!

[2020-03-31 13:58] #136 closed

[2020-05-20 05:43] 9mido opened #147 "/terms/email/ and /terms/email/site-terms/version_number/ not working"
The email form in /terms/email/ and /terms/email/site-terms/version_number/ is not working.

I actually do not need this feature at all and maybe including a setting to disable these links / form is a good idea?

I suppose if they do not work that is fine as long as it cannot be compromised by a hacker  / spam bots.

[2020-05-20 06:02] 9mido opened #148 "How to best optimize URLs for SEO?"
I guess this is a general question but this package has a lot of links and some of them have duplicate content.

Which links should be included in sitemap.xml and disallowed in robots.txt?

Some of the URLs can be accessed when the user is logged out and logged in. For instance, /terms/accept/, /terms/accept/site-terms/, /terms/accept/site-terms/version_number/ can all be accessed when logged out

[2020-05-20 13:00] cyface commented on #148
Thanks seems like a reasonable approach!

On Wed, May 20, 2020 at 12:02 AM 9mido <notifications@github.com> wrote:

[2020-05-20 13:02] cyface commented on #147
You can add a config to your project's urls.py to redirect those to
somewhere else if you want to be extra safe that no one can submit to them.

On Tue, May 19, 2020 at 11:43 PM 9mido <notifications@github.com> wrote:

[2020-05-20 23:10] 9mido commented on #148
Ok awesome just wanted to make sure.

[2020-05-20 23:10] #148 closed

[2020-05-20 23:27] 9mido commented on #147
I was able to do this:

from django.views.defaults import page_not_found
url('^terms/email/', page_not_found, {'exception': Exception()}),

Thanks for the tip also which allowed me to get there

[2020-05-20 23:27] #147 closed

[2020-05-31 19:33] anordinho commented on #58
it didint work for me so what can i do

[2020-07-01 03:24] 9mido opened #154 "Spam Protection Question"
This is kind of a dumb question. But would like to hear your thoughts. Feel free to close this issue if the answer is no.

https://github.com/cyface/django-termsandconditions/blob/master/termsandconditions/templates/termsandconditions/tc_accept_terms.html

Does the form on this page need a captcha / honeypot field to stop spam? The only thing a user / bot could really do is click accept to the ter

[2020-07-01 13:24] cyface commented on #154
Hi! - I can't think of any reason - not much nefarious you can do by accepting terms.

[2020-07-01 13:24] #154 closed

[2020-08-10 16:47] 9mido opened #161 "Feature request - Terms Checkbox On Signup Page For Consent & Middleware Setting"
@cyface

This is a feature request. Be able to ask the user for their terms and conditions consent on the signup page via a checkbox that should submit to the terms and conditions database logs but then do not run the middleware after a successful signup for the first time. Then for new updates to the terms, the middleware could run normally.

Maybe have a setting like TERMS_MIDDLEWARE_ACTIVE_ON_S

[2020-08-11 16:40] cyface commented on #161
Hello!  If I am understanding correctly, you should just be able do this in the save method of your SignupForm, after you create the user.  You can create a UserTermsAndConditions object (see https://github.com/cyface/django-termsandconditions/blob/master/termsandconditions/models.py#L22 ) with the User and Terms you had them agree to, and it will no longer prompt them to agree to those.  You'd ne

[2020-08-11 18:24] 9mido commented on #161
@cyface if there is more than one slug such as 'site-terms' you get the following error -> get() returned more than one TermsAndConditions -- it returned 2!

Is there another query to use?

[2020-08-11 18:41] cyface commented on #161
There is a helper method that would be good to use:

`TermsAndConditions.get_active(slug='site-terms')`

[2020-08-11 18:52] 9mido commented on #161
Ok cool thanks!

Here is my code for anyone else who runs into this problem (just add to the code above):

Forms.py:

[code]
Thank you!

[2020-08-11 18:52] #161 closed

[2020-08-14 11:07] goromachine opened #163 "Problems when installing on a new venv"
I'm trying to install the package to another computer which is using the same packages as the first one I got it installed and I'm having an error.

Information of the system:
Python 3.6
Django 2.2
PostgreSQL 12

The error:

[code]

If I try to uninstall and reinstall the package on the other computer it works just fine.

If you need any extra information please ask for it. Thank you

[2020-08-14 14:51] cyface commented on #163
Hey there - looks like the your _system_ version of setuptools might be old - take a look at this thread: https://github.com/pypa/setuptools/issues/1694

[2020-08-14 15:27] goromachine commented on #163
I'm on my last version of setuptools==49.6.0, the last version of pip==20.2.2 and they say this happens when, among other conditions, 'setuptools is less than 40.8.0.'.

I tried downgrading pip with: pip install --upgrade pip==19.0 - As [told here](https://github.com/pypa/pip/issues/6264#issuecomment-572896391)

And now is working.

Thank you for referencing that thread.

[2020-08-14 15:27] #163 closed

[2020-08-21 13:29] goromachine opened #166 "Problems following the guideline for translations"
I've checked the guideline on this package to make the translations and I don't know if I'm doing something wrong or maybe the guidelines are outdated (because they are from 2015).

I could make the point 1 and point 2, but when trying to make the point `3. Add translation`, when running the `makemigrations` command I get the following message:

[code]
I attach my code blocks related to this imple

[2020-08-24 15:54] cyface commented on #166
@goromachine Ah! You need to use this setting:

TERMS_EXCLUDE_URL_CONTAINS_LIST = (
    {}
)  # Useful if you are using internationalization and your URLs could change per language

And add /terms/ to that list, so that it excludes URLs that *contain* ``/terms/`` from the redirect.

I'll add that to the docs!

[2020-08-24 16:08] goromachine commented on #166
That was it!

In addition I will recommend add `` to the same list like this:

[2020-08-24 17:05] cyface commented on #166
Great, I updated the README to that effect!

[2020-08-24 17:05] #166 closed

[2020-10-01 00:21] 9mido opened #173 "Avoid using inline javascript/css for content security policy"
Some templates have inline javascript which is bad for content security policy.

https://github.com/cyface/django-termsandconditions/blob/master/termsandconditions/templates/termsandconditions/snippets/termsandconditions.html

https://github.com/cyface/django-termsandconditions/blob/master/termsandconditions_demo/templates/404.html

https://github.com/cyface/django-termsandconditions/blob/master/t

[2020-10-01 15:50] cyface commented on #173
Hey there! I can't remove inline .js and still have these modals be portable between applications.  If you need them to meet a particular security or .js approach, you can override the template in your app and make any adjustments you need. :)

[2020-10-01 15:50] #173 closed

[2020-10-01 18:45] 9mido commented on #173
Fair enough. It was not a big deal anyways just wanted you to be aware and wanted to see what your opinion was.

[2020-11-10 00:02] 9mido opened #175 "Delete old user acceptances in the database when user accepts newer version"
This is a feature request. To avoid filling up the database with additional user acceptances every time the terms get updated, why not delete the previous user acceptances and only keep the acceptances for that user regarding the latest version that they just accepted? Only delete the previous acceptances for that user if they accept the newest terms version. If they have not yet accepted the newe

[2020-11-10 15:07] cyface commented on #175
Hmm, for legal reasons, I think most people will need to have all the history kept.  I think a good solution for you might be to write a quick management command that clears out the old accepts based on your criteria, and you could cron this to run quarterly/monthly/daily, or whatever suits your use case?

[2020-11-10 20:03] 9mido commented on #175
@cyface True.

I have the following queries:

[code]

I am stuck on how to delete all previous acceptances except the most recent one for that user. Any ideas?

[2020-11-10 21:19] cyface commented on #175
Something like this might work for you:

[code]

[2020-11-10 23:50] 9mido commented on #175
Awesome, thank you!

[2020-11-10 23:51] #175 closed

[2021-02-15 16:30] Kurt57 opened #187 "Possiblity to integrate easily into forms"
Hi there,

is there a possibility to integrate easy into forms?

I mean that user accept the tac

[2021-02-15 19:15] cyface commented on #187
Hello!

 There are forms used by the views that you can most likely use to include in your form:

https://github.com/cyface/django-termsandconditions/blob/7e528ada08b1bc7b3a4070f84025328e79565965/termsandconditions/forms.py#L11

The core functionality is to protect access to certain pages with terms and conditions, but there is no reason you couldn't use this method to get a list of all the active

[2021-02-16 09:17] Kurt57 commented on #187
very nice. thank you so much. 😊

[2021-02-16 09:17] #187 closed

[2021-03-27 05:20] suyash2411 opened #195 "AttributeError: module 'django.db.models' has no attribute 'permalink'"
from __future__ import unicode_literals
from django.db import models
from django.contrib.auth.models import User
from django.contrib.sites.models import Site
from six import python_2_unicode_compatible

@python_2_unicode_compatible
class Product(models.Model):
    """A generic Product"""
    name = models.CharField(blank=True, max_length=100)
    sites = models.ManyToManyField(Site)

    def __str

[2021-03-27 13:48] cyface commented on #195
Hello! This package requires Django 2.2+.

 `@models.permalink` is deprecated since Django 1.11: https://docs.djangoproject.com/en/1.11/releases/1.11/#models-permalink-decorator

The `Permalink` decorator was removed in Django 2.1: https://docs.djangoproject.com/en/3.1/releases/2.1/#features-removed-in-2-1

So, you'll need to use the `reverse` function instead of `permalink`.

Cheers!

[2021-03-27 13:48] #195 closed

[2022-09-19 13:09] indev-22 opened #244 "Repeated T&C redirections and cut text"
Hello,

We implemented django-termsandconditions in two projects and both have issues when users accept the T&C, sometimes happen:

1.  After acceptance, T&C page appears again. If user exits the website and enters again, all is fine.
2. When the T&C appears again, sometimes only the first and a half line is displayed.
3. If T&C are correctly accepted and the redirection succeeds, if user goes to

[2022-09-26 02:01] cyface commented on #244
Hello! Sorry you are having this trouble!

I re-tested everything with your settings, and I was not able to replicate this issue with a fresh project.

Some things you might take a look at:

1) The middleware is what does the check to see if terms have been accepted by querying the database.  The order of the middleware might be affecting things here, if perhaps something is affecting the output o